            .dropbtn {
                background-color: #FE980F;
                color: white;
                padding: 15px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                margin-left: 15px;
                font-weight: bold;
            }

            
            .dropdown {
                position: relative;
                display: inline-block;
            }

           
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: grey;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                
            }

            
            .dropdown-content a {
                color: black;
                font-weight: 10;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            
            .dropdown-content a:hover {background-color: #f1f1f1}

            
            .dropdown:hover .dropdown-content {
                display: block;
            }

            
            .home{
                background-color: purple;
                border-radius: 15px;
            }
            .menu{
                background-color: #FE980F !important;
                width: 97.5%;
                margin-left: 15px;
                top: 400px;
                position: absolute;
                
            }